@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #d8d4d4;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.pixel-art-ghost{
    position: absolute;
    width: 285px;
    top: 0;
    left: -10px;
}

.initial-greeting {
    font-family: 'Press Start 2P';
}

.initial-greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeline-cards{
    display: flex;
    flex-direction: column;
}

.timeline-division{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}

.timeline-content-box{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: fit-content;
    border: solid 1px black;
}


 .timeline-content-box img{
    border: solid 1px black;
    border-radius: 50%;
    width: 100px;
}



@media only screen and (max-width:900px){
    .pixel-art-ghost{
        width: 120px;
    }
}

/* .button-to-fun{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-to-fun button{
    width: 50vw;
    height:300px;
    border: solid black;
    border-radius:25%;
} */
