@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    padding: 2%;
    background: rgb(0, 36, 7);
    background: linear-gradient(150deg, rgba(0, 36, 7, 1) 0%, rgba(9, 121, 84, 1) 31%, rgba(0, 212, 255, 1) 100%);

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pixel-art-ghost {
    position: absolute;
    /* width: 285px; */

    width: 30%;
    top: 0;
    left: -10px;
    z-index: -1;
}

.initial-greeting {
    font-family: 'Press Start 2P';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timeline-title {
    text-align: center;
}

.timeline-cards {
    display: flex;
    flex-direction: column;
}

.timeline-division {
    display: flex;
    flex-wrap: wrap;
    gap: 10vw;
    justify-content: center;
}


.timeline-content-box {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 300px;
    border: solid 1px black;
    border-radius: 5%;
    align-items: center;
    position: relative;
}

.non-overlay,
.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.overlay {
    background-color: #4742425d;
    border: solid 1px black;
    z-index: 10;
    display: none;
    position: absolute;
    border-radius: 5%;
    animation: comeToTopeAnimation cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes comeToTopeAnimation {
    0% {
        scale: 40%;
    }
}


.timeline-content-box:hover {
    box-shadow: 0px 0px 20px 0px #474242;
    transition: box-shadow .5s;
}

.timeline-content-box:hover .non-overlay {
    filter: blur(1.5rem);
}

.timeline-content-box:hover .overlay {
    display: block;
}

.timeline-img {
    border: solid 1px black;
    border-radius: 50%;
    width: 110px;
}

.position-text {
    color: black;
    font-weight: 900;
    font-family: 'Press Start 2P';
    text-align: center;
    font-size: 100%;
    line-height: 25px;
}



.skills-tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7%;
}


.skill-container{
        width: 254px;
        border: solid 0px black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
    
}

.skill-container .skill-image{
    width: 100%;
    border: solid 1px rgba(77, 64, 64, 0.664);
    border-radius: 50%;
}


/* @media only screen and (max-width:800px) {
    /* .pixel-art-ghost {
        width: 220px;
    } */



@media only screen and (max-width:680px) {
    .timeline-division {
        gap: 10px;
    }
}