@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    padding: 2%;
    background-color: #d8d4d4;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pixel-art-ghost {
    position: absolute;
    /* width: 285px; */

    width: 30%;
    top: 0;
    left: -10px;
    z-index: -1;
}

.initial-greeting {
    font-family: 'Press Start 2P';
}

.initial-greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeline-cards {
    display: flex;
    flex-direction: column;
}

.timeline-division {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.timeline-content-box {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 300px;
    border: solid 1px black;
    border-radius: 5%;
    align-items: center;
}

.timeline-title {
    text-align: center;
}

.timeline-content-box:hover {
    box-shadow: 0px 0px 20px 0px #474242;
    transition: box-shadow .5s;
}

.timeline-img {
    border: solid 1px black;
    border-radius: 50%;
    width: 100px;
}
.position-text{
    color: black;
    font-weight: 900;
    font-family: 'Press Start 2P';
    text-align: center;
    font-size: 100%;
    line-height: 25px;
}

/* @media only screen and (max-width:800px) {
    /* .pixel-art-ghost {
        width: 220px;
    } */



@media only screen and (max-width:680px) {
.timeline-division{
    gap: 10px;
}
}
